ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: #7cd8e6;
}

li{
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 40px;
  text-decoration: none;
}

li a:hover{
  background-color: #f299cb;
}

body {
  background-color: black;
}
h1 {
  color: white;
}
h3 a {
  color: #f4d1ff;
}
h3 {
  color: #7cd8e6;
}
a {
  color: white;
}
h2 {
  color: #8ae67c;
}
h2 {
  margin: 80px;
}
a:hover {
  color: #f299cb;
}

div{
  text-align: center;
}
