h1 {
  color:white;
  text-align: center;
}

.question{
  color:#f4d1ff;
}

.answer{
  color:#8ae67c;
}

.column {
  float: left;
  margin-left:150px;
  width: 30%;
  padding: 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.column1 {
  float: left;
  margin-left:150px;
  width: 30%;
  padding: 10px;
}

.row1::after {
  content: "";
  clear: both;
  display: table;
}

